.Weather {
    border: 1px solid #dadde1;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(135, 135, 135);
}

.Weather h1 {
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    margin: 25px 0 0 0;
}

.Weather p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.Weather ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
}

.Weather img {
    display: inline-block;
    margin-right: 5px;
}

.Weather .temperature {
    font-size: 56px;
    font-weight: 400;
    line-height: 1;
    color: rgb(33, 33, 33);
    vertical-align: middle;
}

.Weather .unit {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: rgb(33, 33, 33);
    position: relative;
    top: -34px;
}